// MAIN PAGE STYLES
main {
    background-color: #e7e7e7;
    width: 100vw;
    height: 100vh;
    top: 0;

    display: flex;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
}


.gridContainer {
    position: relative;
    display: flex;
    flex-direction: column;

    // Scoreboard Section Styles
    .scoreBoard {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    
        .timeCounter,
        .attemptsCounter {
            color: $color-quaternary;
            border-radius: 20px;
            padding: 6px 5px;

            display: inline-block;

            .minutes,
            .seconds,
            .counter {
                font-size: 1.6rem;

                @include respond-850 {
                    font-size: 1.4rem;
                }

                @include respond-650 {
                    font-size: 1.2rem;
                }

                @include respond-500 {
                    font-size: 1rem;
                }
            }
        }

        .timeCounter {
            font-size: 1.6rem;
            margin-right: 23%;

            @include respond-1200 {
                margin-right: 20%;
            }

            @include respond-850 {
                margin-right: 27%;
                font-size: 1.4rem;
            }

            @include respond-650 {
                font-size: 1.2rem;
                margin-right: 35%;
            }

            @include respond-500 {
                margin-right: 33%;
            }

            @include respond-400 {
                margin-right: 30%;
            }

            .fas {
                color: $color-secondary;
            }
        }
    }
}


// Game Section Styles 
.gameGround {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    
    .cardContainer {
        width: 45%;
        height: 40vw;
        position: relative;

        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2%;

        @include respond-1100 {
            width: 55%;
            height: 50vw;
        }

        @include respond-850 {
            width: 65%;
            height: 59vw;
        }

        @include respond-650 {
            width: 80%;
            height: 72vw;
        }

        @include respond-500 {
            width: 85%;
            height: 75vw;
        }

        @include respond-400 {
            width: 100%;
            height: 85vw;
        }
        
        .card {
            position: relative;
            width: 100%;
            height: 100%;

            cursor: pointer;
            perspective: 1000px;

        }
        
        .face {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            transition: all 0.5s;
            backface-visibility: hidden;
        }
        
        .front {
            transform: rotateY(-180deg);
        }
        
        .back {
            background-color: $color-primary;
            width: 100%;
            border-radius: 15px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            transform: rotateY(0);
            transform: scale(1);

            img {
                width: 70%;
                filter: drop-shadow(2px 2px 5px #666);
            }

            &:hover,
            &:focus {
                background-color: lighten($color-primary, 20%);
                transform: scale(1.05);

                @include respond-768 {
                    background-color: $color-primary;
                    transform: scale(1);
                }
            }
        }

        .card.show .front {
            transform:  rotateY(0);
        }

        .show .back {
            transform: rotateY(180deg);
        }

        .matched {

            .front {
                transform: rotateY(0);
            }
        }

        img {
            border-radius: 15px;
        }
    }
    
    .reduceOpacity {
        opacity: 0.5;
    }
}