// GLOBAL COLORS
$color-primary: #4cc3c6;
$color-secondary: #ffc23b;
$color-tertiary: #FFCC00;
$color-quaternary: #181e37;
$color-light: #FFF;
$color-shadow: rgba(101, 36, 33, .6);

// GLOBAL FONTS
$font-primary: 'Boogaloo', cursive;
$font-secondary: 'Lato', sans-serif;
$font-tertiary: 'Yanone Kaffeesatz', sans-serif;

