// GLOBAL COLORS

$color-primary: #624294;

$color-light: #FFF;


$color-text: #FFCC00;
$color-shadow: #4B2F77;


// GLOBAL FONTS
$font-primary: 'Barriecito', cursive, sans-serif;
$font-secondary: 'Muli', sans-serif;

