// Winning Message Section Styles
.winMessageContainer {
    display: none;

    position: absolute;
    width: 47%;
    height: 75%;
    top: 54%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 99;

    background-color: $color-secondary;
    color: $color-quaternary;
    box-shadow: 10px 10px $color-quaternary;
    border-radius: 10px;
    text-align: center;

    @include respond-1280 {
        width: 60%;
        height: 85%;
    }

    @include respond-1100 {
        width: 65%;
        height: 85%;
    }

    @include respond-850 {
        width: 70%;
    }

    @include respond-650 {
        width: 80%;
        height: 80%;
    }

    @include respond-550 {
        width: 80%;
        height: 80%;
    }

    @include respond-500 {
        width: 85%;
        height: 80%;
    }

    @include respond-400 {
        top: 70%;
        width: 90%;
        height: 100%;
    }
    
    .winMessage {
        position: relative;
        z-index: 100;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 14% 5%;

        @include respond-1100 {
            padding: 10% 5% 0 5%;
        }

        @include respond-850 {
            padding: 12% 5% 0 5%;
        }

        @include respond-768 {
            padding: 14% 5% 0 5%;
        }

        @include respond-500 {
            padding: 12% 5% 0 5%;
        }

        @include respond-400 {
            padding: 10% 2% 0 2%;
        }
    }

    h2 {
        font-size: 3rem;
        text-transform: uppercase;

        @include respond-1100 {
            font-size: 2.5rem;
        }

        @include respond-768 {
            font-size: 2.2rem;
        }

        @include respond-500 {
            font-size: 1.8rem;
        }
    }

    p.score {
        text-transform: uppercase;
        font-family: $font-tertiary;
        font-size: 1.8rem;
        line-height: 1.4;
        padding: 30px 5px;

        @include respond-850 {
            font-size: 1.6rem;
        }

        @include respond-768 {
            font-size: 1.4rem;
            padding: 20px 3px;
        }

        @include respond-500 {
            font-size: 1.2rem;
        }
    }

    span.inlineSpan {
        color: $color-light;
    }

    .resetButton {
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        width: 75%;
        height: 80px;

        font-size: 2rem;
        background-color: $color-quaternary;
        color: $color-light;
        text-shadow: -1px 1px 0px #56396D;
        box-shadow: 0px 5px 0px $color-primary;

        @include respond-1100 {
            width: 60%;
            height: 70px;
            font-size: 1.6rem;
        }

        @include respond-768 {
            width: 65%;
            height: 60px;
            font-size: 1.4rem;
        }

        @include respond-768 {
            width: 60%;
            height: 55px;
            font-size: 1.2rem;
        }

        @include respond-400 {
            font-size: 1rem;
        }

        &:hover,
        &:focus {
            background-color: darken($color-quaternary, 20%);
        }

        &:active {
            position: relative;
            top: 5px;
            box-shadow: none;
        }
    }
}

.winMessageContainer.userWin {
    display: block;
}