html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #624294;
  font-family: "Barriecito", cursive, sans-serif;
  font-size: 2.6rem;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 5rem;
  color: #FFF;
  margin: 3rem 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Barriecito", cursive, sans-serif;
  color: #FFCC00;
  border: none;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

header .credit {
  position: absolute;
  top: 20px;
  right: 0;
}

header .creditLine {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
}

header h1 {
  text-align: center;
  text-shadow: 7px 7px #4B2F77;
}

header .lineBreaker {
  display: block;
}

header .startButton {
  position: absolute;
  bottom: 150px;
}

header button.letsPlay {
  background-color: #FFF;
  border-radius: 20px;
  width: 300px;
  height: 80px;
  top: 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 0px #FFCC00;
          box-shadow: 0 10px 0px #FFCC00;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header button.letsPlay:active, header button.letsPlay:focus {
  position: relative;
  top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header button.letsPlay.pressDown {
  top: 0px;
  -webkit-box-shadow: 0px 4px 0px #FFCC00;
          box-shadow: 0px 4px 0px #FFCC00;
}

main {
  background-color: #FFF;
  width: 100vw;
  height: 100vh;
}

.gridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scoreBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scoreBoard .attemptsCounter,
.scoreBoard .timeCounter {
  border-radius: 20px;
  padding: 6px 5px;
  display: inline-block;
}

.gamePitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gamePitch .cardContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}

.gamePitch .cardContainer .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16%;
  position: relative;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.3s, -webkit-transform 0.5s;
  transition: background 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, background 0.3s;
  transition: transform 0.5s, background 0.3s, -webkit-transform 0.5s;
}

.gamePitch .cardContainer:hover, .gamePitch .cardContainer:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: yellow;
}

.gamePitch .cardContainer:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.gamePitch .cardContainer .face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gamePitch .cardContainer .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  border-radius: 16%;
}

.gamePitch .cardContainer .back {
  border-radius: 16%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.gamePitch .textContainer {
  border: 1px solid blue;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-left: 5%;
}
