html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #4cc3c6;
  font-family: "Boogaloo", cursive;
  font-size: 2.6rem;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  color: #FFF;
  margin: 3rem 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Boogaloo", cursive;
  color: #FFCC00;
  border: none;
}

.wrapper {
  max-width: 1680px;
  width: 90%;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #4cc3c6;
  z-index: 199;
}

header .wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .gameTitle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: -12%;
  text-shadow: 3px 3px 3px rgba(101, 36, 33, 0.6);
}

@media (max-width: 650px) {
  header h1 {
    font-size: 6rem;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
  }
}

header span {
  display: block;
  font-size: 4rem;
  text-align: left;
}

@media (max-width: 650px) {
  header span {
    font-size: 2.6rem;
  }
}

@media (max-width: 500px) {
  header span {
    font-size: 2rem;
  }
}

header .startButton {
  position: absolute;
  top: 58%;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .letsPlay {
  width: 300px;
  height: 80px;
  font-size: 2.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #ffc23b;
  color: #FFF;
  -webkit-box-shadow: 0 7px 0px #181e37;
          box-shadow: 0 7px 0px #181e37;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 650px) {
  header .letsPlay {
    width: 250px;
    height: 70px;
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  header .letsPlay {
    width: 220px;
    height: 60px;
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  header .letsPlay {
    width: 220px;
    height: 60px;
    font-size: 1.8rem;
  }
}

header .letsPlay:hover, header .letsPlay:focus {
  width: 330px;
  height: 100px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  header .letsPlay:hover, header .letsPlay:focus {
    width: 300px;
    height: 80px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .letsPlay:active, header .letsPlay:focus {
  position: relative;
  top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  header .letsPlay:active, header .letsPlay:focus {
    top: 0;
  }
}

header .letsPlay.pressDown {
  top: 0px;
  -webkit-box-shadow: 0px 4px 0px #FFCC00;
          box-shadow: 0px 4px 0px #FFCC00;
}

header .heroImage {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header .credit {
  position: absolute;
  bottom: 55%;
  right: 0;
}

@media (max-width: 768px) {
  header .credit p {
    font-size: .6rem;
  }
}

header .creditLine {
  font-family: "Lato", sans-serif;
  color: #27315b;
  font-size: .8rem;
}

header .creditLine a {
  color: #FFF;
}

main {
  background-color: #e7e7e7;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainer .scoreBoard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridContainer .scoreBoard .timeCounter,
.gridContainer .scoreBoard .attemptsCounter {
  color: #181e37;
  border-radius: 20px;
  padding: 6px 5px;
  display: inline-block;
}

.gridContainer .scoreBoard .timeCounter .minutes,
.gridContainer .scoreBoard .timeCounter .seconds,
.gridContainer .scoreBoard .timeCounter .counter,
.gridContainer .scoreBoard .attemptsCounter .minutes,
.gridContainer .scoreBoard .attemptsCounter .seconds,
.gridContainer .scoreBoard .attemptsCounter .counter {
  font-size: 1.6rem;
}

@media (max-width: 850px) {
  .gridContainer .scoreBoard .timeCounter .minutes,
  .gridContainer .scoreBoard .timeCounter .seconds,
  .gridContainer .scoreBoard .timeCounter .counter,
  .gridContainer .scoreBoard .attemptsCounter .minutes,
  .gridContainer .scoreBoard .attemptsCounter .seconds,
  .gridContainer .scoreBoard .attemptsCounter .counter {
    font-size: 1.4rem;
  }
}

@media (max-width: 650px) {
  .gridContainer .scoreBoard .timeCounter .minutes,
  .gridContainer .scoreBoard .timeCounter .seconds,
  .gridContainer .scoreBoard .timeCounter .counter,
  .gridContainer .scoreBoard .attemptsCounter .minutes,
  .gridContainer .scoreBoard .attemptsCounter .seconds,
  .gridContainer .scoreBoard .attemptsCounter .counter {
    font-size: 1.2rem;
  }
}

.gridContainer .scoreBoard .timeCounter {
  font-size: 1.6rem;
  margin-right: 27%;
}

@media (max-width: 1200px) {
  .gridContainer .scoreBoard .timeCounter {
    margin-right: 25%;
  }
}

@media (max-width: 850px) {
  .gridContainer .scoreBoard .timeCounter {
    margin-right: 27%;
    font-size: 1.4rem;
  }
}

@media (max-width: 650px) {
  .gridContainer .scoreBoard .timeCounter {
    font-size: 1.2rem;
    margin-right: 24%;
  }
}

@media (max-width: 500px) {
  .gridContainer .scoreBoard .timeCounter {
    margin-right: 22%;
  }
}

@media (max-width: 400px) {
  .gridContainer .scoreBoard .timeCounter {
    margin-right: 16%;
  }
}

.gridContainer .scoreBoard .timeCounter .fas {
  color: #ffc23b;
}

.gameGround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gameGround .cardContainer {
  width: 50%;
  height: 45vw;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}

@media (max-width: 1025px) {
  .gameGround .cardContainer {
    width: 55%;
    height: 50vw;
  }
}

@media (max-width: 850px) {
  .gameGround .cardContainer {
    width: 60%;
    height: 55vw;
  }
}

@media (max-width: 650px) {
  .gameGround .cardContainer {
    width: 70%;
    height: 65vw;
  }
}

@media (max-width: 500px) {
  .gameGround .cardContainer {
    width: 75%;
    height: 70vw;
  }
}

@media (max-width: 400px) {
  .gameGround .cardContainer {
    width: 80%;
    height: 75vw;
  }
}

.gameGround .cardContainer .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.gameGround .cardContainer .face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gameGround .cardContainer .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.gameGround .cardContainer .back {
  background-color: #4cc3c6;
  width: 100%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gameGround .cardContainer .back img {
  width: 70%;
  -webkit-filter: drop-shadow(2px 2px 5px #666);
          filter: drop-shadow(2px 2px 5px #666);
}

.gameGround .cardContainer .back:hover, .gameGround .cardContainer .backfocus {
  background-color: #99dddf;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 768px) {
  .gameGround .cardContainer .back:hover, .gameGround .cardContainer .backfocus {
    background-color: #4cc3c6;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gameGround .cardContainer .card.show .front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.gameGround .cardContainer .show .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gameGround .cardContainer .matched .front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.gameGround .cardContainer img {
  border-radius: 15px;
}

.gameGround .reduceOpacity {
  opacity: 0.5;
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 300;
}

.instructionModal {
  width: 700px;
  height: 700px;
  background-color: #181e37;
  color: #FFF;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.6);
          box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.6);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .instructionModal {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 550px) {
  .instructionModal {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 400px) {
  .instructionModal {
    width: 300px;
    height: 300px;
  }
}

.instructionModal .closeInstructions {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0 0 1.5rem;
  font-size: 3rem;
  color: #ffc23b;
}

@media (max-width: 850px) {
  .instructionModal .closeInstructions {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .instructionModal .closeInstructions {
    font-size: 1.6rem;
  }
}

.instructionModal h2 {
  font-size: 3rem;
}

@media (max-width: 850px) {
  .instructionModal h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .instructionModal h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .instructionModal h2 {
    font-size: 1.4rem;
  }
}

.instructionModal p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  padding: 50px 50px;
}

@media (max-width: 850px) {
  .instructionModal p {
    font-size: 1.6rem;
    padding: 25px 35px;
  }
}

@media (max-width: 550px) {
  .instructionModal p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 15px 30px;
  }
}

@media (max-width: 400px) {
  .instructionModal p {
    font-size: .9rem;
  }
}

.instructionModal span {
  color: #ffc23b;
}

.instructionModal img {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 850px) {
  .instructionModal img {
    width: 20%;
  }
}

@media (max-width: 400px) {
  .instructionModal img {
    bottom: 2%;
    right: 2%;
    width: 15%;
  }
}

.winMessageContainer {
  display: none;
  position: absolute;
  width: 47%;
  height: 75%;
  top: 54%;
  bottom: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #ffc23b;
  color: #181e37;
  -webkit-box-shadow: 10px 10px #181e37;
          box-shadow: 10px 10px #181e37;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 1280px) {
  .winMessageContainer {
    width: 60%;
    height: 85%;
  }
}

@media (max-width: 1100px) {
  .winMessageContainer {
    width: 65%;
    height: 85%;
  }
}

@media (max-width: 850px) {
  .winMessageContainer {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .winMessageContainer {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 550px) {
  .winMessageContainer {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 500px) {
  .winMessageContainer {
    width: 85%;
    height: 80%;
  }
}

@media (max-width: 400px) {
  .winMessageContainer {
    top: 70%;
    width: 90%;
    height: 100%;
  }
}

.winMessageContainer .winMessage {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14% 5%;
}

@media (max-width: 1100px) {
  .winMessageContainer .winMessage {
    padding: 10% 5% 0 5%;
  }
}

@media (max-width: 850px) {
  .winMessageContainer .winMessage {
    padding: 12% 5% 0 5%;
  }
}

@media (max-width: 768px) {
  .winMessageContainer .winMessage {
    padding: 14% 5% 0 5%;
  }
}

@media (max-width: 500px) {
  .winMessageContainer .winMessage {
    padding: 12% 5% 0 5%;
  }
}

@media (max-width: 400px) {
  .winMessageContainer .winMessage {
    padding: 10% 2% 0 2%;
  }
}

.winMessageContainer h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .winMessageContainer h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .winMessageContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  .winMessageContainer h2 {
    font-size: 1.8rem;
  }
}

.winMessageContainer p.score {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  padding: 30px 5px;
}

@media (max-width: 850px) {
  .winMessageContainer p.score {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .winMessageContainer p.score {
    font-size: 1.4rem;
    padding: 20px 3px;
  }
}

@media (max-width: 500px) {
  .winMessageContainer p.score {
    font-size: 1.2rem;
  }
}

.winMessageContainer span.inlineSpan {
  color: #FFF;
}

.winMessageContainer .resetButton {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 80px;
  font-size: 2rem;
  background-color: #181e37;
  color: #FFF;
  text-shadow: -1px 1px 0px #56396D;
  -webkit-box-shadow: 0px 5px 0px #4cc3c6;
          box-shadow: 0px 5px 0px #4cc3c6;
}

@media (max-width: 1100px) {
  .winMessageContainer .resetButton {
    width: 60%;
    height: 70px;
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .winMessageContainer .resetButton {
    width: 65%;
    height: 60px;
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .winMessageContainer .resetButton {
    width: 60%;
    height: 55px;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .winMessageContainer .resetButton {
    font-size: 1rem;
  }
}

.winMessageContainer .resetButton:hover, .winMessageContainer .resetButton:focus {
  background-color: black;
}

.winMessageContainer .resetButton:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.winMessageContainer.userWin {
  display: block;
}
